@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<style>
    .modal-color {
        background-color: @ColorModal;
    }
   
    .grayRow {
        background-color: #dce3f2;
        text-align: center;
    }
    .NograyRow {
        text-align: center;
        background-color: #fafbfc;
    }

    .Pointer {
        cursor: pointer;
    }

    .round-border {
        position: relative; /* adiciona posição relativa à div */
        border: 1px solid #ccc; /* cor cinza da primeira linha */
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ccc; /* linhas brancas e cinzas */
        border-radius: 10px; /* raio da curva da linha de contorno */
        border-top-right-radius: -10px; /* cria uma interrupção no canto superior direito */
        border-top: none; /* cria uma interrupção na linha superior */
        padding: 20px; /* espaçamento interno da div */
        display: inline-block; /* faz com que a div fique rente ao conteúdo */
    }

    .border-title {
        position: absolute;
        top: -8%;
        left: 5%;
        background-color: #fff;
        padding: 5px;
        border-bottom-right-radius: 10px;
        font-size: 26px;
    }
</style>
<script>
    function numberToReal(numero) {
        var numero = numero.toFixed(2).split('.');
        numero[0] = "R$ " + numero[0].split(/(?=(?:...)*$)/).join('.');
        return numero.join(',');
    }

    function mascara(o, f) {
        v_obj = o
        v_fun = f
        setTimeout("execmascara()", 1)
    }
    function execmascara() {
        v_obj.value = v_fun(v_obj.value)
    }
    function leech(v) {
        v = v.replace(/o/gi, "0")
        v = v.replace(/i/gi, "1")
        v = v.replace(/z/gi, "2")
        v = v.replace(/e/gi, "3")
        v = v.replace(/a/gi, "4")
        v = v.replace(/s/gi, "5")
        v = v.replace(/t/gi, "7")
        return v
    }
    function soNumeros(v) {
        return v.replace(/\D/g, "")
    }
    function telefone(v) {
        v = v.replace(/\D/g, "")                 //Remove tudo o que não é dígito
        v = v.replace(/^(\d\d)(\d)/g, "($1) $2") //Coloca parênteses em volta dos dois primeiros dígitos
        v = v.replace(/(\d{4})(\d)/, "$1-$2")    //Coloca hífen entre o quarto e o quinto dígitos
        return v
    }
    function cpf(v) {
        v = v.replace(/\D/g, "")                    //Remove tudo o que não é dígito
        v = v.replace(/(\d{3})(\d)/, "$1.$2")       //Coloca um ponto entre o terceiro e o quarto dígitos
        v = v.replace(/(\d{3})(\d)/, "$1.$2")       //Coloca um ponto entre o terceiro e o quarto dígitos
        //de novo (para o segundo bloco de números)
        v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2") //Coloca um hífen entre o terceiro e o quarto dígitos
        return v
    }
    function cep(v) {
        v = v.replace(/D/g, "")                //Remove tudo o que não é dígito
        v = v.replace(/^(\d{5})(\d)/, "$1-$2") //Esse é tão fácil que não merece explicações
        return v
    } function soNumeros(v) {
        return v.replace(/\D/g, "")
    }
    function telefone(v) {
        v = v.replace(/\D/g, "")                 //Remove tudo o que não é dígito
        v = v.replace(/^(\d\d)(\d)/g, "($1) $2") //Coloca parênteses em volta dos dois primeiros dígitos
        v = v.replace(/(\d{4})(\d)/, "$1-$2")    //Coloca hífen entre o quarto e o quinto dígitos
        return v
    }
    function cpf(v) {
        v = v.replace(/\D/g, "")                    //Remove tudo o que não é dígito
        v = v.replace(/(\d{3})(\d)/, "$1.$2")       //Coloca um ponto entre o terceiro e o quarto dígitos
        v = v.replace(/(\d{3})(\d)/, "$1.$2")       //Coloca um ponto entre o terceiro e o quarto dígitos
        //de novo (para o segundo bloco de números)
        v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2") //Coloca um hífen entre o terceiro e o quarto dígitos
        return v
    }
    function mdata(v) {
        v = v.replace(/\D/g, "");
        v = v.replace(/(\d{2})(\d)/, "$1/$2");
        v = v.replace(/(\d{2})(\d)/, "$1/$2");

        v = v.replace(/(\d{2})(\d{2})$/, "$1$2");
        return v;
    }
    function mcc(v) {
        v = v.replace(/\D/g, "");
        v = v.replace(/^(\d{4})(\d)/g, "$1 $2");
        v = v.replace(/^(\d{4})\s(\d{4})(\d)/g, "$1 $2 $3");
        v = v.replace(/^(\d{4})\s(\d{4})\s(\d{4})(\d)/g, "$1 $2 $3 $4");
        return v;
    }
</script>